.app-main-content {
  display: flex;
}
.app-left-side {
  width: 292px;
  border-right: 1px solid black;
}
.app-right-side {
  padding: 40px;
}

/* Standard Screen */
@media (max-width: 400px) {
  .app-left-side {
    width: 85px;
  }
  .app-right-side {
    padding: 20px;
    overflow-x: hidden;
  }
}

/* Large Mobile Screen */
@media (min-width: 401px) and (max-width: 586px) {
  .app-left-side {
    width: 85px;
  }
  .app-right-side {
    padding: 20px;
    overflow-x: hidden;
  }
}

/* Bigger Screens */
@media (min-width: 586px) and (max-width: 800px) {
  .app-right-side {
    padding: 20px;
    overflow-x: hidden;
  }
}

/* Tablet Screens */
@media (min-width: 800px) and (max-width: 940px) {
  .app-right-side {
    padding: 20px;
    overflow-x: hidden;
  }
}
