.collect {
  padding: 0px 20px;
  display: flex;
}

/* Left Side */
.left-collect {
  padding: 50px 12px;
  width: 300px;
  border-right: 1px solid #000;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categories select {
  border: 2px solid #a4a4a4;
  padding: 5px;
  width: 126px;
  margin-left: auto;
  margin-right: auto;
  color: #545454;
}
.categories select:focus {
  outline: none;
}
.categories h1 {
  text-align: center;
  font-size: 30px;
  color: #ffb3b3;
}
.cats {
  padding: 10px 22px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  background-color: #fff;
}
.name-cats {
  display: flex;
  gap: 15px;
  background-color: #fff;
  align-items: center;
}
.name-cats p {
  font-size: 16px;
  background-color: #fff;
  color: #545454;
}
.name-cats input {
  width: 16px;
  background-color: #fff;
}

/* Rigth Side */

.right-collect {
  padding: 50px 12px;
  width: 100%;
}
.search-box {
  display: flex;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}
.search-box img {
  width: 30px;
  position: relative;
  z-index: 1;
  background-color: transparent;
  margin-left: 280px;
  margin-top: 6px;
}
.search-box input {
  position: absolute;
  width: 582px;
  height: 38px;
  border-radius: 34px;
  background: #fff;
  top: 147px;
  right: 380px;
  padding: 2px 42px;
  border: 1px solid #f362a3;
}
.search-box input:focus {
  border: 2px solid #f362a3;
  outline: none;
}

.products {
  padding: 70px 30px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  row-gap: 25px;
}
.no-products-found {
  position: absolute;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  left: 673px;
  width: 400px;
}
.no-products-found img {
  background-color: transparent;
  width: 150px;
  height: 150px;
}
.no-products-found p {
  background-color: transparent;
  text-align: center;
  color: #3a3a3a;
}

/* Standard Screen */
@media (min-width: 370px) and (max-width: 400px) {
  .collect {
    display: flex;
    flex-direction: column;
  }
  .left-collect {
    padding: 10px 0px;
    border: none;
  }
  .categories h1 {
    display: none;
  }
  .categories {
    display: flex;
    gap: 10px;
  }
  .categories select {
    height: 32px;
    margin-top: 18px;
    margin-bottom: -24px;
    margin-left: 112px;
    font-size: 13px;
    width: 110px;
    position: relative;
  }
  .cats {
    display: flex;
    flex-direction: row;
    padding: 10px 13px;
    margin-top: 10px;
  }
  .name-cats {
    gap: 8px;
  }
  .name-cats p {
    font-size: 14px;
    background-color: #fff;
    color: #545454;
  }
  .name-cats input {
    width: 13px;
    background-color: #fff;
  }
  .right-collect {
    padding: 10px;
  }
  .search-box {
    display: flex;
  }
  .search-box input {
    position: relative;
    left: 0;
    top: 40px;
  }
  .search-box img {
    position: absolute;
    margin-left: 10px;
    width: 26px;
    margin-top: 46px;
  }

  .products {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 21px;
    margin-left: 6px;
  }
  .no-products-found {
    position: relative;
    left: 0px;
    width: 286px;
  }
  .no-products-found p {
    width: 240px;
    line-height: 1.5;
    max-height: 5em;
    overflow: hidden;
    word-wrap: break-word;
  }
}

/* Bigger Screen */
@media (min-width: 401px) and (max-width: 586px) {
  .collect {
    display: flex;
    flex-direction: column;
  }
  .left-collect {
    padding: 10px 0px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categories h1 {
    display: none;
  }
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }
  .categories select {
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 136px;
    font-size: 13px;
    width: 110px;
  }
  .cats {
    display: flex;
    flex-direction: row;
    padding: 10px 13px;
    margin-left: 24px;
    width: 112%;
    margin-top: 10px;
  }
  .name-cats {
    gap: 8px;
    align-items: center;
  }
  .name-cats p {
    font-size: 14px;
    background-color: #fff;
    color: #545454;
  }
  .name-cats input {
    width: 13px;
    background-color: #fff;
  }
  .right-collect {
    padding: 10px;
  }
  .search-box {
    display: flex;
  }
  .search-box input {
    position: relative;
    left: 0;
    top: 40px;
  }
  .search-box img {
    position: absolute;
    margin-left: 10px;
    width: 26px;
    margin-top: 46px;
  }

  .products {
    display: grid;
    align-items: center;
    margin-top: 30px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 10px;
    margin-left: 25px;
  }
  .no-products-found {
    position: relative;
    left: 10px;
    width: 286px;
  }
  .no-products-found p {
    width: 240px;
    line-height: 1.5;
    max-height: 5em;
    overflow: hidden;
    word-wrap: break-word;
  }
}

@media (min-width: 450px) and (max-width: 480px) {
  .cats {
    margin-left: 50px;
  }
  .categories select {
    margin-left: 165px;
  }
  .products {
    margin-left: 38px;
  }
}
@media (min-width: 480px) and (max-width: 510px) {
  .cats {
    margin-left: 55px;
  }
  .categories select {
    margin-left: 170px;
  }
  .products {
    margin-left: 50px;
  }
}

@media (min-width: 510px) and (max-width: 550px) {
  .cats {
    margin-left: 70px;
  }
  .categories select {
    margin-left: 185px;
  }
}

@media (min-width: 550px) and (max-width: 586px) {
  .cats {
    margin-left: 95px;
  }
  .categories select {
    margin-left: 215px;
  }
}

@media (min-width: 510px) and (max-width: 586px) {
  .products {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 10px;
    margin-left: 10px;
  }
}

/* Small Screen */
@media (min-width: 320px) and (max-width: 370px) {
  .collect {
    display: flex;
    flex-direction: column;
  }
  .left-collect {
    padding: 10px 0px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categories h1 {
    display: none;
  }
  .categories {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }
  .categories select {
    height: 32px;
    margin-top: 10px;
    margin-bottom: -24px;
    margin-left: auto;
    font-size: 13px;
    width: 110px;
    position: relative;
  }
  .cats {
    display: flex;
    flex-direction: row;
    padding: 10px 13px;
    justify-content: center;
    width: 298px;
    margin-left: -10px;
    gap: 8px;
    margin-top: 10px;
  }
  .name-cats {
    gap: 2px;
    align-items: center;
  }
  .name-cats p {
    font-size: 14px;
    background-color: #fff;
    color: #545454;
  }
  .name-cats input {
    width: 13px;
    background-color: #fff;
  }
  .right-collect {
    padding: 10px;
  }
  .search-box {
    display: flex;
  }
  .search-box input {
    position: relative;
    left: 0;
    top: 40px;
  }
  .search-box img {
    position: absolute;
    margin-left: 10px;
    width: 26px;
    margin-top: 46px;
  }

  .products {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 15px;
    margin-left: 17px;
  }
  .no-products-found {
    position: relative;
    left: -35px;
    width: 286px;
  }
  .no-products-found p {
    width: 240px;
    line-height: 1.5;
    max-height: 5em;
    overflow: hidden;
    word-wrap: break-word;
  }
}

@media (min-width: 350px) and (max-width: 370px) {
  .categories {
    margin-left: 20px;
    width: 320px;
  }
  .cats {
    margin-left: 0px;
  }
}

@media (min-width: 330px) and (max-width: 350px) {
  .categories {
    margin-left: 25px;
    width: 300px;
  }
  .cats {
    margin-left: -10px;
  }
  .name-cats {
    gap: 4px;
  }
}

@media (min-width: 350px) and (max-width: 370px) {
  .categories {
    margin-left: 25px;
    width: 300px;
  }
  .cats {
    margin-left: 0px;
    gap: 10px;
  }
  .name-cats {
    gap: 4px;
  }
}

/* Tablet Screens (Small Laptops) */
@media (min-width: 586px) and (max-width: 662px) {
  .collect {
    display: flex;
    flex-direction: column;
  }
  .left-collect {
    padding: 10px 0px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categories h1 {
    display: none;
  }
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }
  .categories select {
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 136px;
    font-size: 13px;
    width: 110px;
  }
  .cats {
    display: flex;
    flex-direction: row;
    padding: 10px 13px;
    margin-left: 24px;
    width: 112%;
    margin-top: 10px;
  }
  .name-cats {
    gap: 8px;
    align-items: center;
  }
  .name-cats p {
    font-size: 14px;
    background-color: #fff;
    color: #545454;
  }
  .name-cats input {
    width: 13px;
    background-color: #fff;
  }
  .right-collect {
    padding: 10px;
  }
  .search-box {
    display: flex;
  }
  .search-box input {
    position: relative;
    left: 0;
    top: 40px;
  }
  .search-box img {
    position: absolute;
    margin-left: 10px;
    width: 26px;
    margin-top: 46px;
  }

  .products {
    display: grid;
    align-items: center;
    margin-top: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 10px;
    margin-left: 15px;
  }
  .no-products-found {
    position: relative;
    left: 100px;
    width: 286px;
  }
  .no-products-found p {
    width: 240px;
    line-height: 1.5;
    max-height: 5em;
    overflow: hidden;
    word-wrap: break-word;
  }
}
@media (min-width: 586px) and (max-width: 600px) {
  .cats {
    margin-left: 105px;
  }
  .categories select {
    margin-left: 225px;
  }
}
@media (min-width: 600px) and (max-width: 630px) {
  .cats {
    margin-left: 110px;
  }
  .categories select {
    margin-left: 235px;
  }
}
@media (min-width: 630px) and (max-width: 662px) {
  .cats {
    margin-left: 130px;
  }
  .categories select {
    margin-left: 255px;
  }
}

/* Tablet Screens (Small Laptops) */
@media (min-width: 662px) and (max-width: 767px) {
  .collect {
    display: flex;
    flex-direction: column;
  }
  .left-collect {
    padding: 10px 0px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .categories h1 {
    display: none;
  }
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }
  .categories select {
    height: 32px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 136px;
    font-size: 13px;
    width: 110px;
  }
  .cats {
    display: flex;
    flex-direction: row;
    padding: 10px 13px;
    margin-left: 24px;
    width: 112%;
    margin-top: 10px;
  }
  .name-cats {
    gap: 8px;
    align-items: center;
  }
  .name-cats p {
    font-size: 14px;
    background-color: #fff;
    color: #545454;
  }
  .name-cats input {
    width: 13px;
    background-color: #fff;
  }
  .right-collect {
    padding: 10px;
  }
  .search-box {
    display: flex;
  }
  .search-box input {
    position: relative;
    left: 0;
    top: 40px;
  }
  .search-box img {
    position: absolute;
    margin-left: 10px;
    width: 26px;
    margin-top: 46px;
  }

  .products {
    display: grid;
    align-items: center;
    margin-top: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 10px;
    margin-left: 15px;
  }
  .no-products-found {
    position: relative;
    left: 140px;
    width: 286px;
  }
  .no-products-found p {
    width: 240px;
    line-height: 1.5;
    max-height: 5em;
    overflow: hidden;
    word-wrap: break-word;
  }
}

@media (min-width: 662px) and (max-width: 690px) {
  .cats {
    margin-left: 140px;
  }
  .categories select {
    margin-left: 265px;
  }
  .search-box {
    width: 550px;
  }
}

@media (min-width: 690px) and (max-width: 730px) {
  .cats {
    margin-left: 160px;
  }
  .categories select {
    margin-left: 285px;
  }
  .search-box {
    width: 600px;
  }
}

@media (min-width: 730px) and (max-width: 767px) {
  .cats {
    margin-left: 170px;
  }
  .categories select {
    margin-left: 295px;
  }
  .search-box {
    width: 600px;
  }
}

/* Bigger Screen */
@media (min-width: 767px) and (max-width: 980px) {
  .search-box input {
    width: 440px;
    right: -38px;
    position: relative;
    top: 2px;
  }
  .search-box img {
    margin-left: 44px;
    position: absolute;
  }
  .products {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 15px;
    margin-left: 17px;
  }
  .no-products-found {
    left: 310px;
  }
}

/* Standard Laptop Screen */
@media (min-width: 980px) and (max-width: 1120px) {
  .search-box input {
    width: 520px;
    right: -38px;
    position: relative;
    top: 2px;
  }
  .search-box img {
    margin-left: 44px;
    position: absolute;
  }
  .products {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 15px;
    margin-left: 17px;
  }
  .no-products-found {
    left: 350px;
  }
}

/* Big Laptop Screen */
@media (min-width: 1120px) and (max-width: 1290px) {
  .search-box input {
    width: 520px;
    right: -38px;
    position: relative;
    top: 2px;
  }
  .search-box img {
    margin-left: 44px;
    position: absolute;
  }
  .products {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 15px;
    margin-left: 17px;
  }
  .no-products-found {
    left: 380px;
  }
}

/* Big Laptop Screen */
@media (min-width: 1290px) and (max-width: 1330px) {
  .search-box input {
    width: 520px;
    right: -38px;
    position: relative;
    top: 2px;
  }
  .search-box img {
    margin-left: 44px;
    position: absolute;
  }
  .products {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 30px 10px;
    gap: 15px;
    margin-left: 17px;
  }
  .no-products-found {
    left: 380px;
  }
}

/* Big Screens (General) */
@media (min-width: 1330px) and (max-width: 1480px) {
  .search-box input {
    width: 550px;
    right: -230px;
    position: relative;
    top: 2px;
  }
  .search-box img {
    margin-left: 238px;
    position: absolute;
  }
  .no-products-found {
    left: 600px;
  }
}

/* Big Screens (General) */
@media (min-width: 1480px) and (max-width: 1920px) {
  .search-box input {
    right: -268px;
    position: relative;
    top: 2px;
  }
  .search-box img {
    margin-left: 276px;
    position: absolute;
  }
}

/* Very Big Screens */
@media (min-width: 1920px) and (max-width: 2500px) {
  .search-box input {
    right: -540px;
    position: relative;
    top: 2px;
  }
  .search-box img {
    margin-left: 550px;
    position: absolute;
  }
  .no-products-found {
    left: 930px;
  }
}

@media (min-width: 1720px) and (max-width: 1950px) {
  .products {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 1950px) and (max-width: 2500px) {
  .products {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
