.product-display {
  padding: 70px 250px;
  display: flex;
  width: 100%;
  height: 600px;
  gap: 70px;
}
.product-display img {
  height: 100%;
  max-width: 400px;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product-info h1 {
  font-size: 30px;
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
.star-rating img {
  width: 25px;
}
.star-rating p {
  margin-top: 3px;
}
.pro-price {
  font-size: 35px;
}
.pro-price p {
  margin-left: -2px;
}
.product-desc {
  max-width: 280px;
  margin-left: 7px;
  color: #5c5c5c;
}
.desc-for-small {
  display: none;
}
.product-sizes {
  margin-left: 7px;
  display: flex;
  gap: 15px;
  font-size: 20px;
}
.product-sizes .size-op {
  padding: 0px 8px;
  border: 1px solid #000;
  background-color: beige;
  cursor: pointer;
}
.product-sizes .selected-size {
  border: 1px hotpink solid;
}
.add-product {
  background-color: #b2456b;
  width: 100px;
  margin-left: 7px;
  color: #fff;
  font-size: 22px;
  border: 1px solid #000;
  cursor: pointer;
}
.small-desc {
  display: none;
}
.policy-tags {
  padding: 20px 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  margin-top: -10px;
  color: #5c5c5c;
}

.related-products {
  padding: 40px 80px;
}

/* Standard Screen */
@media (min-width: 370px) and (max-width: 400px) {
  .product-display {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    gap: 15px;
  }
  .product-display img {
    height: 100%;
    width: 162px;
  }
  .product-info {
    gap: 10px;
    align-items: start;
    padding: 0px 10px;
    max-width: 170px;
    margin-top: 2px;
  }
  .product-info h1 {
    font-size: 14px;
    margin-left: 7px;
    text-align: start;
  }
  .pro-price {
    font-size: 15px;
    margin-left: 9px;
  }
  .star-rating {
    display: flex;
    gap: 4px;
    margin-left: 7px;
  }
  .star-rating img {
    width: 20px;
  }
  .star-rating p {
    font-size: 14px;
  }
  .product-desc {
    display: none;
  }
  .product-sizes {
    margin-left: 7px;
    display: flex;
    gap: 7px;
    font-size: 13px;
  }
  .product-sizes .size-op {
    padding: 0px 6px;
  }
  .add-product {
    width: 50px;
    margin-left: 7px;
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
  }
  .desc-for-small {
    display: block;
    margin: 10px 20px;
  }
  .small-desc {
    display: block;
    margin: 10px 20px;
    color: #5c5c5c;
    font-size: 12px;
  }
  .policy-tags {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 3px;
    padding: 8px 0px;
    font-size: 12px;
  }
  .related-products {
    padding: 20px;
  }
}

@media (min-width: 401px) and (max-width: 586px) {
  .product-display {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    gap: 15px;
  }
  .product-display img {
    height: 100%;
    width: 162px;
  }
  .product-info {
    gap: 10px;
    align-items: start;
    padding: 0px 10px;
    max-width: 170px;
    margin-top: 2px;
  }
  .product-info h1 {
    font-size: 14px;
    margin-left: 7px;
    text-align: start;
  }
  .pro-price {
    font-size: 15px;
    margin-left: 9px;
  }
  .star-rating {
    display: flex;
    gap: 4px;
    margin-left: 7px;
  }
  .star-rating img {
    width: 20px;
  }
  .star-rating p {
    font-size: 14px;
  }
  .product-desc {
    display: none;
  }
  .product-sizes {
    margin-left: 7px;
    display: flex;
    gap: 7px;
    font-size: 13px;
  }
  .product-sizes .size-op {
    padding: 0px 6px;
  }
  .add-product {
    width: 50px;
    margin-left: 7px;
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
  }
  .desc-for-small {
    display: block;
    margin: 10px 30px;
  }
  .small-desc {
    display: block;
    margin: 10px 30px;
    color: #5c5c5c;
    font-size: 12px;
  }
  .policy-tags {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 3px;
    padding: 8px 0px;
    font-size: 12px;
  }
  .related-products {
    padding: 20px;
  }
}



