.now {
  margin: 30px;
  margin-top: 60px;
}
.now h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  font-family: Prata;
  margin-bottom: 50px;
  color: #ff69b4;
}
.cover img {
  width: 1460px;
  height: 700px;
  position: relative;
  border-radius: 10px;
}
.cover button {
  position: absolute;
  top: 2670px;
  left: 170px;
  width: 250px;
  height: 70px;
  border: 1px solid #f697d5;
  border-radius: 40px;
  color: #f697d5;
  font-size: 30px;
  cursor: pointer;
}

/* Standard Screens */
@media (min-width: 370px) and (max-width: 400px) {
  .now {
    margin-top: 10px;
  }
  .now h1 {
    margin-top: -12px;
    font-size: 52px;
    line-height: 1;
  }
  .cover img {
    margin-top: -20px;
    width: 318px;
    height: 310px;
    border-radius: 0%;
  }
  .cover button {
    width: 100px;
    position: relative;
    height: 34px;
    top: -262px;
    font-size: 16px;
    left: 14px;
  }
}
/* Large Screens */
@media (min-width: 401px) and (max-width: 586px) {
  .now,
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .now {
    margin-top: 10px;
  }

  .now h1 {
    margin-top: -12px;
    font-size: 52px;
    line-height: 1;
  }

  .cover img {
    margin-top: -20px;
    width: 355px;
    height: 310px;
    border-radius: 0%;
    position: relative;
  }

  .cover button {
    width: 100px;
    position: relative;
    height: 34px;
    top: -238px;
    font-size: 16px;
    left: -115px;
  }
}

/* Small Screen Phones */

@media (min-width: 320px) and (max-width: 370px) {
  .now,
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .now {
    margin-top: 10px;
  }

  .now h1 {
    margin-top: -12px;
    font-size: 30px;
    line-height: 1;
  }

  .cover img {
    margin-top: -20px;
    width: 355px;
    height: 310px;
    border-radius: 0%;
    position: relative;
  }

  .cover button {
    width: 80px;
    position: relative;
    height: 24px;
    top: -263px;
    font-size: 11px;
    left: -82px;
  }
}

@media (min-width: 445px) and (max-width: 586px) {
  .cover img {
    margin-top: -20px;
    width: 485px;
    height: 310px;
    border-radius: 0%;
    position: relative;
  }
  .cover button {
    left: -140px;
  }
}

/* Small Tablet Screens */
@media (min-width: 586px) and (max-width: 767px) {
  .now,
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .now {
    margin-top: 10px;
  }

  .now h1 {
    margin-top: -12px;
    font-size: 52px;
    line-height: 1;
  }

  .cover img {
    margin-top: -20px;
    width: 647px;
    height: 327px;
    border-radius: 10px;
    position: relative;
  }

  .cover button {
    width: 150px;
    position: relative;
    height: 40px;
    top: -244px;
    font-size: 20px;
    left: -180px;
  }
}

/* Standard i-Pads */
@media (min-width: 767px) and (max-width: 991px) {
  .now,
  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .now {
    margin-top: 10px;
  }

  .now h1 {
    margin-top: -12px;
    font-size: 52px;
    line-height: 1;
  }

  .cover img {
    margin-top: -20px;
    width: 647px;
    height: 327px;
    border-radius: 10px;
    position: relative;
  }

  .cover button {
    width: 150px;
    position: relative;
    height: 40px;
    top: -244px;
    font-size: 20px;
    left: -180px;
  }
}

@media (min-width: 991px) and (max-width: 1290px) {
  .cover button {
    width: 250px;
    height: 70px;
    position: relative;

    top: -540px;
    font-size: 30px;
    left: 100px;
  }
}
