.summer {
  margin: 30px;
  margin-top: 60px;
}
.summer h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  font-family: Prata;
  margin-bottom: 50px;
  color: #ff69b4;
}
.ads {
  display: flex;
  height: 515px;
  padding: 40px;
  gap: 30px;
}
.ads img {
  width: 250px;
  height: 430px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.ads img:hover {
  transform: scale(1.02);
}
.ad-path {
  margin-left: 170px;
  background-color: transparent;
}
.ad-path img {
  width: 180px;
  height: 180px;
  margin-top: 90px;
  margin-left: 30px;
  background-color: transparent;
}
.ad-path button {
  margin: 40px 0px;
  margin-left: 10px;
  background-color: #ffe1e2;
  border: 1px solid #f697d5;
  color: #ff69b4;
  width: 180px;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
}

/* Standard Phone Screen */

@media (min-width: 370px) and (max-width: 400px) {
  .summer {
    margin-top: 173px;
  }
  .summer h1 {
    font-size: 40px;
    line-height: 1;
  }
  .ads {
    margin-top: -20px;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 45px;
    position: relative;
  }
  .ads::-webkit-scrollbar {
    display: none;
  }
  .ads img {
    max-width: 240px;
    max-height: 368px;
    margin-top: -24px;
    margin-left: -21px;
    border-radius: 0%;
  }
  .ad-path {
    position: absolute;
    left: 666px;
    top: 100px;
  }
  .ad-path button {
    max-width: 131px;
    max-height: 40px;
    position: absolute;
    left: -18px;
  }
}

/* Larger Screen Phones */
@media (min-width: 401px) and (max-width: 587px) {
  .summer {
    margin-top: -110px;
  }
  .summer h1 {
    font-size: 40px;
    line-height: 1;
    z-index: 1;
    position: relative;
  }
  .ads {
    margin-top: -20px;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 45px;
    position: relative;
  }
  .ads::-webkit-scrollbar {
    display: none;
  }
  .ads img {
    max-width: 240px;
    max-height: 368px;
    margin-top: -24px;
    margin-left: -21px;
    border-radius: 0%;
  }
  .ad-path {
    position: absolute;
    left: 666px;
    top: 0px;
  }
  .ad-path button {
    max-width: 131px;
    max-height: 40px;
    position: absolute;
    left: 0px;
  }
}

/* Small Screen Phones */

@media (min-width: 320px) and (max-width: 370px) {
  .summer {
    margin-top: -90px;
  }
  .summer h1 {
    font-size: 25px;
    line-height: 1;
    z-index: 1;
    position: relative;
  }
  .ads {
    margin-top: -20px;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 45px;
    position: relative;
  }
  .ads::-webkit-scrollbar {
    display: none;
  }
  .ads img {
    max-width: 240px;
    max-height: 368px;
    margin-top: -24px;
    margin-left: -21px;
    border-radius: 0%;
  }
  .ad-path {
    position: absolute;
    left: 666px;
    top: 100px;
  }
  .ad-path button {
    max-width: 131px;
    max-height: 40px;
    position: absolute;
    left: -18px;
  }
}

/* Smaller Tablets (Landscape mode tablet) */
@media (min-width: 587px) and (max-width: 767px) {
  .summer {
    margin-top: -125px;
  }
  .summer h1 {
    font-size: 50px;
    line-height: 1;
    z-index: 1;
    position: relative;
  }
  .ads {
    margin-top: -20px;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 45px;
    position: relative;
  }
  .ads::-webkit-scrollbar {
    display: none;
  }
  .ads img {
    max-width: 240px;
    max-height: 368px;
    margin-top: -24px;
    margin-left: -21px;
    border-radius: 10px;
  }
  .ad-path img {
    margin-left: -24px;
  }
  .ad-path {
    position: absolute;
    left: 666px;
    top: 0px;
  }
  .ad-path button {
    max-width: 131px;
    max-height: 40px;
    position: absolute;
    left: 0px;
  }
}

/* Standard Tablets (Smaller Laptops) */

@media (min-width: 767px) and (max-width: 991px) {
  .summer {
    margin-top: -180px;
  }
  .summer h1 {
    font-size: 50px;
    line-height: 1;
    z-index: 1;
    position: relative;
  }
  .ads {
    margin-top: -20px;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 45px;
    position: relative;
  }
  .ads::-webkit-scrollbar {
    display: none;
  }
  .ads img {
    max-width: 240px;
    max-height: 368px;
    margin-top: -24px;
    margin-left: -21px;
    border-radius: 10px;
  }
  .ad-path img {
    margin-left: -24px;
  }
  .ad-path {
    position: absolute;
    left: 666px;
    top: 0px;
  }
  .ad-path button {
    max-width: 131px;
    max-height: 40px;
    position: absolute;
    left: 0px;
  }
}

/* Standard Desktop Screens */
@media (min-width: 991px) and (max-width: 1290px) {
  .summer {
    margin-top: 0px;
  }
  .summer h1 {
    font-size: 60px;
    line-height: 1;
  }
  .ads {
    margin-top: -20px;
    max-height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 45px;
    position: relative;
  }
  .ads::-webkit-scrollbar {
    display: none;
  }
  .ads img {
    max-width: 240px;
    max-height: 368px;
    margin-top: -24px;
    margin-left: -21px;
    border-radius: 10px;
  }
  .ad-path {
    position: absolute;
    left: 666px;
    top: 0px;
  }
  .ad-path button {
    max-width: 131px;
    max-height: 40px;
    position: absolute;
    left: 40px;
  }
}
