.order-page-main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 50px;
  align-items: center;
}
.order-page-main h1 {
  color: #ff69b4;
  font-size: 35px;
  font-weight: 600;
}
.all-orders-sec {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1300px;
}
.individual-order-detail {
  padding: 15px 20px;
  align-items: center;
  border: 1px solid #252525;
  display: flex;
  justify-content: space-between;
  height: 160px;
  background-color: #fff;
}
.order-map-first-sec {
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: transparent;
}
.order-image {
  width: 80px;
}
.order-other-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 280px;
  background-color: transparent;
  color: #3c3c3c;
}
.order-other-detail h3 {
  background: transparent;
}
.order-other-second-line p {
  background: transparent;
}
.order-other-second-line {
  display: flex;
  gap: 20px;
  background: transparent;
}
.order-other-detail p {
  background: transparent;
}
.order-map-second-sec {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}
.order-status-name {
  background-color: transparent;
  color: #3c3c3c;
}
.order-status-color {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #50d66f;
}
.order-map-third-sec {
  background-color: transparent;
}
.order-map-third-sec button {
  background: transparent;
  padding: 6px 14px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #ff69b4;
  color: white;
  cursor: pointer;
}

/* Standard Screen */
@media (min-width: 370px) and (max-width: 400px) {
  .order-page-main {
    gap: 20px;
    padding: 20px 10px;
  }
  .order-page-main h1 {
    font-size: 26px;
    font-weight: 500;
  }
  .all-orders-sec {
    width: 330px;
  }
  .individual-order-detail {
    padding: 10px;
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-around;
  }
  .order-map-first-sec {
    gap: 14px;
  }
  .order-image {
    width: 70px;
  }
  .order-other-detail {
    font-size: 15px;
    width: 220px;
  }
  .order-map-third-sec button {
    padding: 4px 8px;
    border-radius: 8px;
  }
}

/* Large Screen */
@media (min-width: 401px) and (max-width: 670px) {
  .order-page-main {
    gap: 20px;
    padding: 20px 10px;
  }
  .order-page-main h1 {
    font-size: 26px;
    font-weight: 500;
  }
  .all-orders-sec {
    width: 330px;
  }
  .individual-order-detail {
    padding: 10px;
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-around;
  }
  .order-map-first-sec {
    gap: 14px;
  }
  .order-image {
    width: 70px;
  }
  .order-other-detail {
    font-size: 15px;
    width: 220px;
  }
  .order-map-third-sec button {
    padding: 4px 8px;
    border-radius: 8px;
  }
}

@media (min-width: 520px) and (max-width: 586px) {
  .all-orders-sec {
    width: 400px;
  }
}

/* Small Screen */
@media (min-width: 320px) and (max-width: 370px) {
  .order-page-main {
    gap: 20px;
    padding: 20px 5px;
  }
  .order-page-main h1 {
    font-size: 24px;
    font-weight: 500;
  }
  .all-orders-sec {
    width: 320px;
  }
  .individual-order-detail {
    padding: 10px;
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: space-around;
  }
  .order-map-first-sec {
    gap: 14px;
  }
  .order-image {
    width: 70px;
  }
  .order-other-detail {
    font-size: 15px;
    width: 220px;
  }
  .order-map-third-sec button {
    padding: 4px 8px;
    border-radius: 8px;
  }
}

/* Tablet Screens */
@media (min-width: 586px) and (max-width: 670px) {
  .all-orders-sec {
    width: 520px;
  }
}

@media (min-width: 670px) and (max-width: 830px) {
  .all-orders-sec {
    width: 660px;
  }
}

@media (min-width: 830px) and (max-width: 990px) {
  .all-orders-sec {
    width: 800px;
  }
}

@media (min-width: 990px) and (max-width: 1120px) {
  .all-orders-sec {
    width: 960px;
  }
}

@media (min-width: 1120px) and (max-width: 1300px) {
  .all-orders-sec {
    width: 1050px;
  }
}
