.main {
  background: #fcd2d2;
  width: full;
  height: 90px;
  display: flex;
  justify-content: space-between;
}
.left {
  width: 140px;
  height: 80px;
  background-color: transparent;
  margin: 2px 25px;
}
.left img {
  background-color: transparent;
}
.links {
  background-color: transparent;
  margin: 30px 10px;
  margin-left: 70px;
}
.links ul {
  background-color: transparent;
  display: flex;
  gap: 50px;
}
.links ul li {
  background-color: transparent;
  font-size: 20px;
  color: #6d6c6c;
  cursor: pointer;
}
.right {
  background-color: transparent;
  display: flex;
  gap: 25px;
  margin: 27px 40px;
  width: 210px;
}
.right .cart-icon {
  background-color: transparent;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.right .cart-icon span {
  position: absolute;
  right: 0;
  display: block;
  width: 30px;
  height: 3px;
  background-color: #e44c81;
  border: 1px solid #e44c81;
  bottom: -3px;
  border-radius: 30px;
}
.right button {
  background-color: #f697d5;
  width: 85px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}
.login-placeholder {
  width: 85px;
  display: hidden;
  background-color: transparent;
}

.right img {
  width: 35px;
  height: 35px;
  background-color: transparent;
  cursor: pointer;
}
.right .side-icon {
  display: none;
  width: 50px;
  margin-top: 2px;
  height: 40px;
  margin-top: -1px;
  cursor: pointer;
}
.sidebar {
  background-color: #f6cceaa4;
  border-radius: 20px;
  justify-content: center;
  height: 30px;
  display: flex;
  gap: 30px;
  border: 1px solid #f3a8d0;
  margin: 7px 10px;
  font-size: 16px;
  cursor: pointer;
}
.sidebar li {
  background-color: transparent;
  margin-top: 3px;
  color: #fff;
}
.user-icon-state {
  position: relative;
  background-color: transparent;
}
.drop-menu {
  position: absolute;
  top: 40px;
  right: -15px;
  background-color: #e07ba1;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
}
.drop-menu ul,
li {
  color: #fff;
  background-color: transparent;
  font-size: 15px;
  gap: 1px;
  cursor: pointer;
}
.login-wrapper {
  background-color: transparent;
}

/* Standard Phones */

@media (min-width: 370px) and (max-width: 400px) {
  .links {
    display: none;
  }
  .left {
    margin: 10px 6px;
  }
  .left img {
    width: 120px;
  }
  .right {
    gap: 12px;
  }
  .right img {
    width: 40px;
  }
  .right .cart-icon {
    display: none;
  }
  .right .side-icon {
    display: block;
  }
  .user-icon-state img {
    width: 45px;
  }
  .drop-menu {
    top: 40px;
    right: -12px;
  }
  .drop-menu ul,
  li {
    font-size: 14px;
  }
}

/* Larger Screen Phones */

@media (min-width: 401px) and (max-width: 587px) {
  .links {
    display: none;
  }
  .left {
    margin: 10px 6px;
  }
  .left img {
    width: 120px;
  }
  .right {
    gap: 12px;
  }
  .right img {
    width: 38px;
  }
  .right .cart-icon {
    display: none;
  }
  .right .side-icon {
    display: block;
    width: 45px;
  }
  .drop-menu {
    top: 40px;
    right: -12px;
  }
  .drop-menu ul,
  li {
    font-size: 14px;
  }
}

/* Small Screen Phones */

@media (min-width: 320px) and (max-width: 370px) {
  .links {
    display: none;
  }
  .left {
    margin: 10px 6px;
  }
  .left img {
    width: 120px;
  }
  .right {
    gap: 8px;
  }
  .right img {
    width: 34px;
    height: 34px;
  }
  .right .cart-icon {
    display: none;
  }
  .right .side-icon {
    display: block;
    width: 36px;
    height: 38px;
  }
  .user-icon-state img {
    width: 45px;
    height: 32px;
  }
  .drop-menu {
    top: 40px;
    padding: 2px 8px;
    right: -12px;
  }
  .drop-menu ul,
  li {
    font-size: 14px;
  }
  .right button {
    font-size: 14px;
  }
  .sidebar {
    gap: 15px;
  }
}

/* Smaller Tablets (Landscape mode tablet) */
@media (min-width: 587px) and (max-width: 768px) {
  .links {
    display: none;
  }
  .left {
    margin: 10px 6px;
  }
  .left img {
    width: 120px;
  }
  .right {
    gap: 20px;
  }
  .right img {
    width: 38px;
  }
  .right .cart-icon {
    display: none;
  }
  .right .side-icon {
    display: block;
    width: 45px;
  }
  .sidebar {
    gap: 50px;
  }
  .drop-menu {
    top: 40px;
    right: -12px;
  }
  .drop-menu ul,
  li {
    font-size: 14px;
  }
}

/* Standard Tablets (Smaller Laptops) */
@media (min-width: 768px) and (max-width: 991px) {
  .links {
    display: none;
  }
  .left {
    margin: 10px 6px;
  }
  .left img {
    width: 120px;
  }
  .right {
    gap: 20px;
  }
  .right img {
    width: 38px;
  }
  .right .cart-icon {
    display: none;
  }
  .right .side-icon {
    display: block;
  }
  .sidebar {
    gap: 50px;
  }

  .drop-menu {
    top: 40px;
    right: -12px;
  }
  .drop-menu ul,
  li {
    font-size: 15px;
  }
}

@media (min-width: 830px) and (max-width: 991px) {
  .links {
    display: block;
  }
  .right {
    gap: 10px;
  }
  .right .side-icon {
    display: none;
  }
  .right .cart-icon {
    display: block;
  }
}

/* Standard Desktop Screens */
@media (min-width: 991px) and (max-width: 1250px) {
  .links {
    display: block;
  }
  .left {
    margin: 10px 6px;
  }
  .left img {
    width: 120px;
  }
  .right {
    gap: 20px;
  }
  .right img {
    width: 38px;
  }
  .right .cart-icon {
    display: block;
  }
  .right .side-icon {
    display: none;
  }

  .drop-menu {
    top: 40px;
    right: -12px;
  }
  .drop-menu ul,
  li {
    font-size: 15px;
  }
}
