.place-page {
  display: flex;
  padding: 30px 60px;
  justify-content: space-between;
  align-items: center;
}
.place-order-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.place-order-details h1 {
  font-size: 30px;
  color: #302e2e;
  font-weight: 600;
}
.place-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.place-inputs input {
  padding: 6px 10px;
  background-color: #fff;
  outline: 1px solid #282828;
}
.place-inputs input:focus {
  border: none;
  outline: 1px solid #282828;
}

.place-double {
  display: flex;
  gap: 14px;
}

.place-total-details {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 20px;
}
.place-total-details h1 {
  font-size: 30px;
}
.place-total-details button {
  background-color: #ff69b4;
  color: #fff;
  font-size: 20px;
  width: 306px;
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.payment-option-buttons {
  display: flex;
  gap: 10px;
}
.single-option {
  display: flex;
  gap: 5px;
  border: 1px solid #000;
  padding: 3px 10px;
  align-items: center;
  cursor: pointer;
}
.option-selection {
  border: 1px solid #000;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.single-option img {
  height: 30px;
  width: 35px;
}
.name-of-option {
  color: #272727;
}
.option-payment-selected {
  background-color: #57ff48;
}

/* Standard Screen*/
@media (min-width: 320px) and (max-width: 400px) {
  .place-page {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    align-items: start;
    gap: 30px;
  }
  .place-order-details h1 {
    font-size: 25px;
  }
  .place-total-details h1 {
    font-size: 25px;
  }
  .place-inputs input {
    padding: 6px 10px;
    background-color: #fff;
    outline: 1px solid #282828;
    width: 310px;
  }
  .place-total-details button {
    width: 240px;
    color: #fff;
    font-size: 16px;
    padding: 3px;
  }
  .place-inputs {
    gap: 10px;
  }
  .place-double {
    display: flex;
    gap: 10px;
  }
  .place-double input {
    width: 150px;
  }
  .name-of-option {
    display: none;
  }
}

/* Larger Screen */
@media (min-width: 401px) and (max-width: 586px) {
  .place-page {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    align-items: start;
    gap: 30px;
  }
  .place-order-details h1 {
    font-size: 25px;
  }
  .place-total-details h1 {
    font-size: 25px;
  }
  .place-inputs input {
    padding: 6px 10px;
    background-color: #fff;
    outline: 1px solid #282828;
    width: 310px;
  }
  .place-total-details button {
    width: 240px;
    color: #fff;
    font-size: 16px;
    padding: 3px;
  }
  .place-inputs {
    gap: 10px;
  }
  .place-double {
    display: flex;
    gap: 10px;
  }
  .place-double input {
    width: 150px;
  }
  .name-of-option {
    display: none;
  }
}

/* Larger Screen */
@media (min-width: 320px) and (max-width: 370px) {
  .place-page {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    align-items: start;
    gap: 30px;
  }
  .place-order-details h1 {
    font-size: 25px;
  }
  .place-total-details h1 {
    font-size: 25px;
  }
  .place-inputs input {
    padding: 6px 10px;
    background-color: #fff;
    outline: 1px solid #282828;
    width: 280px;
  }
  .place-total-details button {
    width: 240px;
    color: #fff;
    font-size: 16px;
    padding: 3px;
  }
  .place-inputs {
    gap: 10px;
  }
  .place-double {
    display: flex;
    gap: 10px;
  }
  .place-double input {
    width: 135px;
  }
  .name-of-option {
    display: none;
  }
}

/* Larger Screen */
@media (min-width: 586px) and (max-width: 1050px) {
  .place-page {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }
}
