.display-product {
  cursor: pointer;
  border: 1px solid black;
  width: 232px;
  height: 320px;
  display: flex;
  flex-direction: column;
}
.display-section {
  overflow: hidden;
  width: 100%;
  height: 220px;
}
.display-section img {
  transition: 0.3s ease-in-out;
}
.display-section img:hover {
  transform: scale(1.05);
}
.product-name {
  margin: 5px 10px;
  font-size: 15px;
  height: 50px;
}
.product-price {
  margin-left: 11px;
}
.selling-usp {
  display: flex;
  justify-content: space-between;
}
.selling-usp img {
  background: transparent;
  height: 37px;
  width: 37px;
  margin-right: 10px;
  margin-bottom: 2px;
}

/* Standard Screen */
@media (min-width: 370px) and (max-width: 400px) {
  .display-product {
    width: 130px;
    height: 210px;
  }
  .display-section {
    width: 100%;
    height: 140px;
  }
  .product-name {
    margin: 4px 10px;
    font-size: 10px;
    height: 30px;
    overflow: hidden;
  }
  .product-price {
    font-size: 13px;
  }
  .selling-usp img {
    height: 25px;
    width: 25px;
  }
}

/* Big Mobile Screen */

@media (min-width: 401px) and (max-width: 586px) {
  .display-product {
    width: 130px;
    height: 210px;
  }
  .display-section {
    width: 100%;
    height: 140px;
  }
  .product-name {
    margin: 4px 10px;
    font-size: 10px;
    height: 30px;
    overflow: hidden;
  }
  .product-price {
    font-size: 13px;
  }
  .selling-usp img {
    height: 25px;
    width: 25px;
  }
}

/* Small Screen */
@media (min-width: 320px) and (max-width: 370px) {
  .display-product {
    width: 110px;
    height: 200px;
  }
  .display-section {
    width: 100%;
    height: 140px;
  }
  .product-name {
    margin: 4px 10px;
    font-size: 10px;
    height: 30px;
    overflow: hidden;
  }
  .product-price {
    font-size: 13px;
  }
  .selling-usp img {
    height: 25px;
    width: 25px;
  }
}

/* Tablet Screens (Small Laptops) */
@media (min-width: 586px) and (max-width: 662px) {
  .display-product {
    width: 150px;
    height: 220px;
  }
  .display-section {
    width: 100%;
    height: 140px;
  }
  .product-name {
    margin: 4px 10px;
    font-size: 10px;
    height: 30px;
    overflow: hidden;
  }
  .product-price {
    font-size: 13px;
  }
  .selling-usp img {
    height: 25px;
    width: 25px;
  }
}

/* Tablet Screens (Small Laptops) */
@media (min-width: 662px) and (max-width: 767px) {
  .display-product {
    width: 165px;
    height: 230px;
  }
  .display-section {
    width: 100%;
    height: 140px;
  }
  .product-name {
    margin: 4px 10px;
    font-size: 10px;
    height: 30px;
    overflow: hidden;
  }
  .product-price {
    font-size: 15px;
  }
  .selling-usp img {
    height: 25px;
    width: 25px;
  }
}

/* Bigger Screen */
@media (min-width: 767px) and (max-width: 980px) {
  .display-product {
    width: 145px;
    height: 230px;
  }
  .display-section {
    width: 100%;
    height: 140px;
  }
  .product-name {
    margin: 4px 10px;
    font-size: 11px;
    height: 30px;
    overflow: hidden;
  }
  .product-price {
    font-size: 15px;
  }
  .selling-usp img {
    height: 25px;
    width: 25px;
  }
}
/* Standard Laptop Screen */
@media (min-width: 980px) and (max-width: 1120px) {
  .display-product {
    width: 210px;
    height: 320px;
  }
  .display-section {
    width: 100%;
    height: 200px;
  }
  .product-name {
    overflow: hidden;
  }
}

/* Big Laptop Screen */
@media (min-width: 1120px) and (max-width: 1290px) {
  .display-product {
    width: 190px;
    height: 320px;
  }
  .product-name {
    overflow: hidden;
  }
}
